<!doctype html>
<html>
	<head>
		<title>Meadowlark Travel</title>
	</head>
	<body>
		<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
		{{{body}}}
	</body>
</html>

<!-- 以上内容你未曾见过的可能只有{{{body}}}。这个表达式会被每个视图自己的HTML 取代 -->